/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import '@picocss/pico/scss/pico';
@import 'appointments';
@import 'professionals';
@import 'sessions';

[data-theme="light"] {
  --primary: #d81b60!important;
  --primary-hover: #e91e63!important;
  --primary-focus: rgba(216, 27, 96, 0.25)!important;
  --primary-inverse: #fff!important;
  --background-color: #bdbdbd!important;
  --form-element-border-color: #5b85a5!important;
  --color: black!important;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  nav {
    width: 95%;
  }
}

a, a:visited {
  color: var(--primary)
}

.container {
  padding-top: 3rem!important
}

.action-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid black;
  margin-bottom: 2rem;
  h1{
    --typography-spacing-vertical: 1rem!important;
  }
}

.align-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login {
  margin-top: 5%;
}

.multiple-action-header {
  :last-child {
    margin-left: 1rem;
  }
}

.action {
  font-size: 1.5rem;
  background-color: var(--background-color)!important;
}

.article {
  margin-top: 0;
  margin-bottom: 2rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}