body {
  width: 90%;
}

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px; }

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px; }

a {
  color: #000; }

a:visited {
  color: #666; }

a:hover {
  color: #fff;
  background-color: #000; }

th {
  padding-bottom: 5px; }

td {
  padding: 0 5px 7px; }

div.field,
div.actions {
  margin-bottom: 10px; }

#notice {
  color: green; }


#error_explanation {
  margin-bottom: 20px;
  background-color: #f8d7da;
  padding: .75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  color: #721c24;
}

#error_explanation ul p {
  color: #721c24;
}

label {
  display: block; }
